body {
  margin: 0;
  background: #0f0f10;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.personaje {
  position: relative;
  width: 260px;
  margin: auto;
}

.personaje img {
  width: 100%;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: pink;
  color: black;
  text-decoration: none;
}
